{#convert date to int #}
{% set weatherDateTimeInt  =weatherDateTime|date("U") %}
<div class="calendar-grid">
    <div class="calendar-month text-center text-bold">
        {{ weatherDateTime | format_date_fr }}
    </div>
    <div class="calendar-day text-center text-bold">
        <div class="day-item">Dimanche</div>
        <div class="day-item">Lundi</div>
        <div class="day-item">Mardi</div>
        <div class="day-item">Mercredi</div>
        <div class="day-item">Jeudi</div>
        <div class="day-item">Vendredi</div>
        <div class="day-item">Samedi</div>
    </div>

    <div class="calendar-item">
        {% set numberOfDaysInMonth = weatherDateTimeInt|date('t') %}
        {% set firstDays = weatherDateTimeInt|date('F 1\\s\\t Y')|date('w') %}
        {% if firstDays and firstDays!=0 %}
            {% for n in range(1,firstDays) %}
                <div class="before-first-day"></div>
            {% endfor %}
        {% endif %}
        {% for day in range(1,numberOfDaysInMonth) %}
            <div class="date-grid-content text-center  ">
                <div class="  text-bold">{{ day }}</div>
                <hr/>
                {% if analyseData[day]  is defined %}
                    <div>Max : {{ analyseData[day].dayMaxTemp }}</div>
                    <div>Min : {{ analyseData[day].dayMinTemp }}</div>
                    <div>Moy : {{ analyseData[day].dayAvgTemp }}</div>
                {% endif %}
                <hr/>
            </div>
        {% endfor %}

    </div>

</div>